<!DOCTYPE html>
<html>
  <head>
    <title>Matt Page Bingo!</title>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
</head>
  <style type="text/css">
    h1 {
        text-align: center;
    }
    .tile {
        margin-left: 5px;
        height: 150px;
        width: 150px;
        display: inline-block;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        top: 50%;
        background-color: rgba(130,130,130,0.8);
    }
    .tileText {
        position: absolute;
        margin: 53px 0 0 0;
        width: 150px;
        /*height: 150px;*/
        padding: 5px;
        vertical-align: middle;
        text-align: center;
        color: white;
        /*line-height: 140px;*/
    }
    .bingo {
        background-color: rgba(196,57,57,0.8);
    }
    .mattPage {
        background-image: url('./images/ITS-MATT-PAGE-BETCH.png');
        z-index: 1000;
    }
    .container {
        margin-top: 5px;
        width: 500px;
        position: relative;
    }
    .bubble {
        background-image: url('./images/bingo.png');
        z-index: 1000;
        position: absolute;
        top: 197px;
        left: 100px;
        width: 150px;
        height: 150px;
        display: none;
    }
  </style>
  <body ln="en">
    <div class="container" id="container">
        <div class="bubble"></div>
    </div>
    <script>
        var data = [];
        // localStorage.clear();
        if (localStorage.bingo) {
            data = JSON.parse(localStorage.bingo);
        }
        else {
            data = <%- bingo %>;
            localStorage.bingo = JSON.stringify(data);
        }

        // var c = document.getElementById("myCanvas");
        var gridSize = 3;
        var rows = [1, 2, 3];
        var columns = [1, 2, 3];
        var tileSize = 150;
        var tilePadding = 5;
        var x = tilePadding;
        var y = tilePadding;
        var dataIndex = 0;

        for (var i = rows.length - 1; i >= 0; i--) {
            for (var j = columns.length - 1; j >= 0; j--) {
                x = (columns[j] * tilePadding) + (columns[j] - 1) * tileSize;
                y = (rows[i] * tilePadding) + (rows[i] - 1) * tileSize;

                var key = (columns[j].toString() + rows[i].toString());
                var text = "";
                var cssClass = "";

                if (key === "22") {
                    text = "WILD";
                    cssClass = "bingo mattPage";
                }
                else {
                    text = data[dataIndex];
                }

                dataIndex++;
                var row = (rows.length - i - 1);
                var column = (columns.length - j - 1);
                addElement("tile_" + key, text, cssClass, row, column);
            }
        }

        function addElement (id, text, cssClass, row, column) {
          var newDiv = document.createElement("div");
          newDiv.setAttribute("id", id);
          newDiv.setAttribute("class", "tile " + cssClass);
          newDiv.setAttribute("data-row", row);
          newDiv.setAttribute("data-column", column);
          newDiv.onclick = bingo;

          var newP = document.createElement("p");
          newP.setAttribute("class", "tileText");
          // newP.setAttribute("class", "lead");
          newP.innerHTML = text;

          newDiv.appendChild(newP);

          document.getElementById("container").appendChild(newDiv);
        }

        function bingo () {
            if (this.getAttribute("class").indexOf("bingo") === -1) {
                this.setAttribute("class", "bingo tile mattPage");
            }
            else {
                this.setAttribute("class", "tile");
            }

            if (checkForBingo()) {
                $(".bubble").fadeIn(100);
            }
        }

        function checkForBingo() {
            var selectedCount = 0;
            var bingo = false;

            // Check rows    
            for (var row=0; row < gridSize; row++) {
                selectedCount = 0;
                $('div[data-row=' + row + ']').each(function(i, cell) {
                    if ($(cell).hasClass('bingo')) {
                        selectedCount++;
                    }

                    if (selectedCount === gridSize) {
                        bingo = true;
                        return;
                    }
                });
            }

            if (bingo) return true;

            // Check columns
            for (var col=0; col < gridSize; col++) {
                selectedCount = 0;

                $('div[data-column=' + col + ']').each(function(i, cell) {
                    if ($(cell).hasClass('bingo')) {
                        selectedCount++;
                    }

                    if (selectedCount === gridSize) {
                        bingo = true;
                        return;
                    }
                });
            }

            if (bingo) return true;

            // Check top to bottom diagonal.
            bingo = true;
            for (var col=0; col<gridSize; col++) {
                var sel = 'div[data-column=' + col + '][data-row=' + col + ']';

                if (!$(sel).hasClass('bingo')) {
                    bingo = false;
                    break;
                }
            }

            if (bingo) return true;

            // Check bottom to top diagonal.
            bingo = true;
            for (var col=0; col<gridSize; col++) {
                var sel = 'div[data-column=' + col + '][data-row=' + (gridSize-col-1) + ']';

                if (!$(sel).hasClass('bingo')) {
                    bingo = false;
                    break;
                }
            }

            return bingo;
        }

    </script>
  </body>
</html>